<h1>Alunos#edit</h1>
<p>Find me in app/views/alunos/edit.html.erb</p>
<div class="container text-center">
  <%= simple_form_for [@sala, @aluno] do |f| %>
    <%= f.error_notification %>
    <%= f.input :matricula %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :nascimento %>
    <%= f.input :status %>
    <%= f.input :conceitos %>
    <%= f.input :faltas %>
    <%= f.submit %>
  <% end %>
</div>
