<br>
<br>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        1° Trimestre
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container">
          <h1 class="text-center">Aluno <%= @aluno.name %> </h1>
          <h2 class="text-center">1° Trimestre</h2>
          <table class="responsive-table">
            <caption class="mt-2">Aluno <%= @aluno.name %></caption>
            <thead>
              <tr class="text-center">
                <th scope="col">Horário</th>
                <th scope="col">Nota</th>
                <th scope="col">Faltas</th>
              </tr>
            </thead>
            <tbody>
              <% Horario.all.each do |horario| %>
                <tr>
                  <th scope="row mt-3"><%= horario.nome %></th>
                  <% if @aluno.notas_alunos.find_by(horario_id: horario.id).nil? == true %>
                    <td data-title="Released">Aguardando Lançamento</td>
                  <% elsif @aluno.notas_alunos.find_by(horario_id: horario.id).trimestre == "1° Trimestre" %>
                    <td data-title="Released"><%= @aluno.notas_alunos.find_by(horario_id: horario.id).nota %></td>
                  <% end %>
                  <td data-title="Released"><%= @aluno.faltas %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        2° Trimestre
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container">
          <h1 class="text-center">Aluno <%= @aluno.name %> </h1>
          <h2 class="text-center">2° Trimestre</h2>
          <table class="responsive-table">
            <caption class="mt-2">Aluno <%= @aluno.name %></caption>
            <thead>
              <tr class="text-center">
                <th scope="col">Horário</th>
                <th scope="col">Nota</th>
                <th scope="col">Faltas</th>
              </tr>
            </thead>
            <tbody>
              <% Horario.all.each do |horario| %>
                <tr>
                  <th scope="row mt-3"><%= horario.nome %></th>
                  <% teste = @aluno.notas_alunos.find_by(horario_id: horario.id) %>
                  <% if teste.nil? == true %>
                    <td data-title="Released">Aguardando Lançamento</td>
                  <% elsif teste.trimestre == "2° Trimestre" %>
                    <td data-title="Released"><%= @aluno.notas_alunos.find_by(horario_id: horario.id).nota %></td>
                  <% end %>
                  <td data-title="Released"><%= @aluno.faltas %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        3° Trimestre
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container">
          <h1 class="text-center">Aluno <%= @aluno.name %> </h1>
          <h2 class="text-center">3° Trimestre</h2>
          <table class="responsive-table">
            <caption class="mt-2">Aluno <%= @aluno.name %></caption>
            <thead>
              <tr class="text-center">
                <th scope="col">Horário</th>
                <th scope="col">Nota</th>
                <th scope="col">Faltas</th>
              </tr>
            </thead>
            <tbody>
              <% Horario.all.each do |horario| %>
                <tr>
                  <th scope="row mt-3"><%= horario.nome %></th>
                  <% if @aluno.notas_alunos.find_by(horario_id: horario.id).nil? == true %>
                    <td data-title="Released">Aguardando Lançamento</td>
                  <% elsif @aluno.notas_alunos.find_by(horario_id: horario.id).trimestre == "3° Trimestre" %>
                    <td data-title="Released"><%= @aluno.notas_alunos.find_by(horario_id: horario.id).nota %></td>
                  <% end %>
                  <td data-title="Released"><%= @aluno.faltas %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
        4° Trimestre
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container">
          <h1 class="text-center">Aluno <%= @aluno.name %> </h1>
          <h2 class="text-center">4° Trimestre</h2>
          <table class="responsive-table">
            <caption class="mt-2">Aluno <%= @aluno.name %></caption>
            <thead>
              <tr class="text-center">
                <th scope="col">Horário</th>
                <th scope="col">Nota</th>
                <th scope="col">Faltas</th>
              </tr>
            </thead>
            <tbody>
              <% Horario.all.each do |horario| %>
                <tr>
                  <th scope="row mt-3"><%= horario.nome %></th>
                  <% if @aluno.notas_alunos.find_by(horario_id: horario.id).nil? == true %>
                    <td data-title="Released">Aguardando Lançamento</td>
                  <% elsif @aluno.notas_alunos.find_by(horario_id: horario.id).trimestre == "4° Trimestre" %>
                    <td data-title="Released"><%= @aluno.notas_alunos.find_by(horario_id: horario.id).nota %></td>
                  <% end %>
                  <td data-title="Released"><%= @aluno.faltas %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <%= render 'notas_alunos/form', sala: @sala, aluno: @aluno, nota: @nota %>
</div>
