<div class="container">
  <%= form_with url: alunos_path, method: :get, class: "d-flex mb-3" do %>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a product" %>
    <%= submit_tag "Search", class: "btn btn-primary me-1 button-submit" %>
  <% end %>
  <h1>Salas</h1>
  <% @salas.each do |sala| %>
    <h3><%= link_to sala.nome, sala_path(sala) %></h3>
    <br>
  <% end %>
  <br>
  <h2>Funções</h2>
  <br>
  <%= link_to "Nova Sala", new_sala_path %>
  <br>
  <br>
  <%= link_to "Atribuir Professores", new_join_path %>
  <br>
  <br>
  <%= link_to "Atribuir Matérias", new_join_materias_prof_path %>
</div>
