<div class="container">
  <h1 class="text-center"><%= @sala.nome %> | <%= @sala.ano %></h1>
  <br>
  <h2>Professores</h2>
  <% @sala.professors.each do |professor| %>
    <br>
    <%= link_to professor.name, sala_professor_path(@sala, professor) %>
  <% end %>
  <br>
  <br>
  <h2>Funções</h2>
  <%= link_to "Novo Aluno", new_sala_aluno_path(params[:id]) %>
  <br>
  <br>
  <%= link_to "Novo Professor", new_sala_professor_path(@sala) %>
</div>
<div class="container">
  <table class="responsive-table">
    <caption>Alunos <%= @sala.nome %></caption>
    <thead>
      <tr>
        <th scope="col">Aluno</th>
        <th scope="col">Matrícula</th>
        <th scope="col">Nascimento</th>
        <th scope="col">Conceitos</th>
        <th scope="col">Faltas</th>
        <th scope="col">Status</th>
        <th scope="col">Enviar</th>
      </tr>
    </thead>
    <tbody>
      <% i = 0 %>
      <% @alunos.each do |aluno| %>
        <%= form_with model: [@sala, aluno] do |f| %>
          <% i += 1 %>
          <tr>
            <th scope="row"><%= link_to aluno.name, sala_aluno_path(@sala, aluno) %></th>
            <td data-title="Matrícula"><%= aluno.matricula %></td>
            <td data-title="Nascimento"><%= aluno.nascimento %></td>
            <td data-title="Conceitos" class="text-center" data-type="currency">  <%= f.label :conceitos %>
              <%= f.text_field :conceitos %></td>
            <td data-title="Faltas" class="text-center" data-type="currency">  <%= f.label :faltas %>
              <%= f.text_field :faltas %></td>
            <td data-title="Status" data-type="currency" class="text-center"><%= aluno.status %></td>
            <td class="text-center"><%= f.button 'Submit', name: "button#{i} ", class:"btn btn-secondary rounded rounded-5 refresh"%></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<script></script>
